
body {
  color: white;
  text-align: left;
}

.banner {
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.banner h1 {
  font-size: 30px;
}

.banner a {
  color: white;
  font-size: 15px;
  padding-top: .8em;
  background-color: green;
}

.navbar {
  padding: 1em;
  background-color: darkblue;
  text-align: center;
}

.navbar a {
  color: white;
  padding: 8em;
  font-size: 18px;
}

.main img {
  height: 550px;
  width: 1439px;
}

.container {
  display: block;
}

.text h1 {
  font-weight: bold;
  font-size: 27px;
  padding-bottom: 20px;
}

.text {
  font-size: 17px;
  padding: 15px;
  padding-right: 80px;
  padding-bottom: 30px;
  color: white;
  background-color: black;
}

.text p {
  padding-bottom: 20px;
  padding-right: 80px;
}

.image {
  display: inline-block;
}

.bottomimages img {
  height: 250px;
  width: 400px;
  padding-bottom: 2em;
  padding: 2em;
  padding-top: 0em;
}

.image h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 4em;
}

.footer p {
  padding: 2em;
  color: white;
  background-color: black;
  font-size: 17px;
}

.footercontainer{
  padding-left: 1.5em;
}
